@import "tailwindcss";


        @keyframes beamTop {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(200%);
          }
        }
        @keyframes beamRight {
          0% {
            transform: translateY(0);
          }
          100% {
            transform: translateY(200%);
          }
        }
        @keyframes beamBottom {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(-200%);
          }
        }
        @keyframes beamLeft {
          0% {
            transform: translateY(0);
          }
          100% {
            transform: translateY(-200%);
          }
        }

        .animate-beam-top {
          animation: beamTop 3s linear infinite;
        }
        .animate-beam-right {
          animation: beamRight 3s linear infinite;
          animation-delay: 0.75s;
        }
        .animate-beam-bottom {
          animation: beamBottom 3s linear infinite;
          animation-delay: 1.5s;
        }
        .animate-beam-left {
          animation: beamLeft 3s linear infinite;
          animation-delay: 2.25s;
        }

        @keyframes fadeIn {
          from {
            opacity: 0;
            transform: translateY(15px);
          }
          to {
            opacity: 1;
            transform: translateY(0);
          }
        }
        .animate-fadeIn {
          animation: fadeIn 0.4s ease-out forwards;
        }
   

  
        @keyframes rotate-border {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }
        .border-animation {
          position: absolute;
          inset: -100%;
          background: conic-gradient(
            from 0deg,
            transparent 0deg,
            transparent 280deg,
            #38bdf8 360deg
          );
          animation: rotate-border 3s linear infinite;
        }
  

